h1 {
	background-color: orange;
	}
	
h2{
	background-color: #1687FF;
	font-size: 2em;
}

p{
	font-family: arial;
	margin-left: 50px;
	font-size: 1em;
}

p1{
	font-family: courier;
	font-size: 1.1em;
}

.topic{
	color: white;
	font-family: courier;
	padding: 10px;
	}